<section id="content-1">
    <div class="thumbnail">
        <img src="{{ thumbnail | img_url: 'master' }}">
    </div>
    <div class="detail">
        <div class="title" style="text-align: {{position_title}};">
            <h3>{{title}}</h3>
        </div>
        <div class="content" style="text-align: {{position_content}};">
            {{content}}
        </div>
    </div>
</section>